body {
  background: #e6ecf0;
  color: #14171a;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 20px;
  overflow-y: scroll;
}

ul.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  border-bottom: 1px solid #9FA3A3;


}

ul.top-nav li{
  float: left;

}

ul.top-nav li a {
   display: block;
   color: white;
   text-align: center;
   padding: 20px 18px;
   text-decoration: none;
}

ul.top-nav li button {
    background-color: #4AB3F4;
    border-radius: 100px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 15px;
}

ul.top-nav li input {
  width: 100px;
  padding: 4px;
  height: 15px;
  margin-top: 18px;
  position: relative;
  font-size: 14px;
  background-image: url("img/searchicon.png");
  background-repeat: no-repeat;
  background-position: right;
	border-radius: 15px;
  border: #4AB3F4 solid 2px;
}

ul.top-nav li a:hover.home {border-bottom: 2px solid #4AB3F4;}

ul.top-nav li a:hover.messages {border-bottom: 2px solid #4AB3F4;}

ul.top-nav li a:hover.notifications {border-bottom: 2px solid #4AB3F4;}

ul.top-nav li a:hover.moments {border-bottom: 2px solid #4AB3F4;}

ul.top-nav li.top-nav-tweet-btn {float: right;}



@media screen and (max-width: 600px) {
    ul.topnav li.top-nav-tweet-btn,
    ul.topnav li {float: none;}
}

div.news-feed {
  margin-top: 10px;
  right: 2px;
  display: block;
  position: relative;
  float: right;
  width: 485px;
  min-height: 600px;
  border-radius: 5px;
  background-color: #f5f8fa;
}

div.home-tweetbox {
  background-color: #EFFAFA;
}

div.home-tweetbox input {
  width: 80%;
  padding: 5px;
  height: 15px;
  margin-top: 18px;
  margin-left: 50px;
  position: relative;
  font-size: 14px;
  border-radius: 5px;
  border: #4AB3F4 solid 1px;
  margin-bottom: 4px;
}

div.dashboard {
  float: left;
  width: 290px;
  margin-left: 5px;
}

section.news-f
